
<!--BASE DE DATOS-->
<base href="/">
<h4>Data base Fruits</h4>
<div class="row">
  <div class="col-xs-10">
    <ul class="list-group">
      <!--<a routerLink="/edit-fruit/:id" routerLinkActive="active" class="list-group-item"-->
      <a *ngFor = "let fruta of frutas; let j = index"
         (click)="onSelect(fruta)"
         class="list-group-item"
         >
        {{fruta.name}} ({{fruta.pricePerKg}})
        <button (click)="onRemoveFruitDB(j,fruta.idFruit)" style="float: right">
          Delete
        </button>
      </a>
    </ul>
  </div>
</div>

