<form >
  <div *ngIf="fruit" class="container">
    <h4 defColOnEvent>Add or Update Fruit</h4>
    <p>
      <input name="idFruit" hidden [ngModel]="fruit.idFruit"/>
      <label> <b> Name </b> </label>
      <input #name type = "text" name="name"
             [(ngModel)]="fruit.name"
             class="form-control"
             pattern="[a-zA-Z]+"
             required/>
    </p>
    <p>
      <label> <b> Description </b> </label>
      <input #name type = "text" name="description"
             [(ngModel)]="fruit.description"
             class="form-control"/>
    </p>
    <p>
      <label> <b> Price per Kg </b> </label>
      <input #pricePerKg type = "number" name="pricePerKg"
             [(ngModel)]="fruit.pricePerKg"
             class="form-control"
             pattern="[0-9]+"
             required>
    </p>

    <p>
      <button

              [disabled]="!fruit"
              class="btn btn-primary"
              type = "button"
              (click)="onCreateOrUpdateFruitDB()">
        Submit
      </button>
    </p>
  </div>
</form>
